<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles/accueil.css">

</head>
<body>
    <header>
        <img src="/assets/images/Header et Footer/Logo II.png">
    <div class="titre">
        <h1 class="pan">Pan </h1>
        <h1 class="toplate">to plate</h1>
    </div>
    <div class="search-bar">
      <button>X</button>
      <input type="text" placeholder="Recherchez une ville...">
    </div>
    <div class="nav-item">
      <div class="cart">
        <a href="#">
          <img src="/assets/images/Header et Footer/shopping-cart.png">
        </a>
      </div>
      <div class="connexion">
        <a href="#">
        <button class="btn-connexion">Connexion
            <img src="/assets/images/Header et Footer/log-out.png">
          </button>
        </a>    
      </div>
  </div>

    <div class="profil">
      <a href="#">
      <img src="/assets/images/Header et Footer/utilisateur.png">
      </a>
    </div>
  </header>
    
  <main>
    <div class="banner">
        <a href="#">
        <button class="order-button">Commandez maintenant !</button>
        </a>
    </div>
    <div class="carrousel">
        <div class="carrousel-wrapper">
            <div class="carrousel-item">
                <img src="/assets/images/Accueil/restaurant1.jpg">
                <h2>Chez Tony</h2>
            </div>
            <div class="carrousel-item">
                <img src="/assets/images/Accueil/restaurant2.jpg">
                <h2>Little Italy</h2>
            </div>
            <div class="carrousel-item">
                <img src="/assets/images/Accueil/restaurant3.jpg">
                <h2>Sengoku Food</h2>
            </div>
        </div>
        <button class="carrousel-button prev" onclick="moveSlide(-1)">
            <img src="/assets/images/Accueil/left-chevron.png">
        </button>
        <button class="carrousel-button next" onclick="moveSlide(1)">
            <img src="/assets/images/Accueil/right-chevron.png">
        </button>
    </div>
  </main>

    <footer>
        <div class="footer-content">
            <ul class="footer-social-links">
                <li><a href="#"> <img src="/assets/images/Header et Footer/Instagram.png"> </a></li>
                <li><a href="#"> <img src="/assets/images/Header et Footer/Facebook.png"> </a></li>
                <li><a href="#"> <img src="/assets/images/Header et Footer/Twitter.png"> </a></li>
                
            </ul>
            <ul class="footer-mention">
                <li><a href="#">Mention légal</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">© Pan to Plate FRANCE 2024 Created by NAPT</a></li>
            </ul>
        </div>
      </footer>
<script src="/assets/scripts/js-accueil/script.js"></script>
</body>
</html>