<!DOCTYPE html>
<html>
    <head>
        <title>Pan to Plate</title>
        <link rel="stylesheet" href="/assets/styles/headerfooter.css">
    </head>

    <body>
        <footer>
            <div class="footer-content">
                <ul class="footer-social-links">
                    <li><a href="#"> <img src="/assets/images/Header et Footer/Instagram.png"> </a></li>
                    <li><a href="#"> <img src="/assets/images/Header et Footer/Facebook.png"> </a></li>
                    <li><a href="#"> <img src="/assets/images/Header et Footer/Twitter.png"> </a></li>
                </ul>
                <ul class="footer-mention">
                    <li><a href="#">Mention légal</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">© Pan to Plate FRANCE 2024 Created by NAPT</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>