<!DOCTYPE html>
<html>
<head>
  <title>Pan to Plate</title>
  <link rel="icon" type="image/x-icon" href="/PANToplate/assets/images/favicon.png">
  <link rel="stylesheet" href="/PANToplate/assets/styles/custom.css">
  <link rel="stylesheet" href="/PANToplate/assets/styles/style.css">
</head>

<body>
    <footer class="py-2">
    <div class="footer-content">
        <ul class="footer-social-links">
            <li><a href="#"> <img src="/PANToplate/assets/images/Header et Footer/Instagram.png"> </a></li>
            <li><a href="#"> <img src="/PANToplate/assets/images/Header et Footer/Facebook.png"> </a></li>
            <li><a href="#"> <img src="/PANToplate/assets/images/Header et Footer/Twitter.png"> </a></li>
            
        </ul>
        <ul class="footer-mention">
            <li><a href="#">Mention légal</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">© Pan to Plate FRANCE 2024 Created by NAPT</a></li>
        </ul>
    </div>
  </footer>
  <script src="/PANToplate/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>