<!DOCTYPE html>
<html>
<head>
  <title>Footer</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="/assets/styles/custom.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <footer class="py-2 fixed-bottom">
        <div class="footer-content">
            <ul class="footer-social-links list-inline">
                <li class="list-inline-item bi-instagram h2"><a href="#">  </a></li>
                <li class="list-inline-item bi bi-facebook h2"><a href="#"> </a></li>
                <li class="list-inline-item bi bi-twitter h2"><a href="#"></a></li>   
            </ul>
            <ul class="footer-mention">
                <li><a href="/src/mentions légales/mentions_legales.html">Mentions légales</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="/src/politique de confidentialité/confidentialité.html">Politique de confidentialité</a></li>
                <li><a href="#">© Pan to Plate FRANCE 2024 Created by PANT</a></li>
            </ul>
        </div>
    </footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>