<!DOCTYPE html>
<html>
<head>
  <title>Pan to Plate</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="/assets/styles/custom.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
  <header class="py-1">
        <img src="/assets/images/Header et Footer/Logo II.png">
    <div class="titre">
        <h1 class="pan">Pan </h1>
        <h1 class="toplate">to plate</h1>
    </div>
    <div class="search-bar">
      <button>X</button>
      <input type="text" placeholder="Recherchez une ville...">
    </div>
    <div class="nav-item">
      <div class="cart">
        <a href="#">
          <img src="/assets/images/Header et Footer/shopping-cart.png">
        </a>
      </div>
      <div class="connexion">
        <a href="#">
        <button class="btn-connexion">Connexion
            <img src="/assets/images/Header et Footer/log-out.png">
          </button>
        </a>    
      </div>
  </div>
    <div class="profil">
      <a href="#">
      <img src="/assets/images/Header et Footer/utilisateur.png">
      </a>
    </div>
  </header>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>