/* .flex {
    flex-grow: 1;
} */

.background {
    background-image: url("/assets/images/food_platter1.jpg");
    /* height: 100%; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -1; */
    filter: blur(6px);
}

main {
    height:20%;
}

.adresse {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 3em;
    text-align: center;
} 

.slogan_livre {
   color: white;
   font-weight: bold;
}

.recherche {
    margin-top: 1em;
    gap: 10px;
    height: 30px;
    display: inline-flex;
    overflow: hidden;
}

.recherche .button {
    width:5em;
}

.recherche .text_entry {
    width:30em;
}
.recherche .hour_selection {
    width:8em;
    text-align: center;
} 

