.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF6F61;
    min-width: 300px;
}

.dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0px;
}
