
.zone_de_texte {
    position: absolute;
    left: 0;
    background-color: #FF6F61;
}

.parameter_zone{
    position: absolute;
    background-color: #FF6F61;
    border-radius: 5px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.parameter_zone img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.small_line {
    font-size: 10px;
}

/* Lien */

a:link {
    color: inherit; 
    text-decoration: none; 
}

a:visited {
    color: inherit; 
    text-decoration: none; 
}














